.ContextContainer {
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  position: absolute;
  height: auto;
  width: 100px;
  border-radius: 10px;
  border: 0.1px solid black;
  box-shadow: 0 0 5px black;
  animation: .1s forwards unhide linear;
}

@keyframes unhide {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(100);
  }
}

.ContextContainer ul {
  padding: 0;
}

.ContextContainer li {
  padding: 10px 0;
  list-style: none;
  padding: 10px;
}

.ContextContainer li:hover {
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}