.GameContainer {
  min-height: 100vh;
  background-image: url('../images/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  cursor: url('../images/cursor.png'), auto;
}