.StartPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.StartPage h1.title {
  text-align: center;
}

.StartPage button {
  background-color: rgb(96, 96, 189);
  border-radius: 5px;
  padding: 16px 54px;
  color: white;
  font-weight: bold;
  border: transparent;
}